<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div class="row" style="height: 100%">
  <div th:replace="fragments/header.html :: side-bar" />
  <div class="col-9">
    <br/> <h2>그룹 정보</h2> <br/>
    <h3>그룹명 : [[${groupDetail.groupDto.name}]]</h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'BRONZE'}">등급 : BRONZE<h5>(하루에 스토리 1개 작성 가능, 스토리에 이미지 5개 업로드 가능, 이 그룹에 최대 5명 참여 가능)</h5></h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'SILVER'}">등급 : BRONZE<h5>(하루에 스토리 3개 작성 가능, 스토리에 이미지 5개 업로드 가능, 이 그룹에 최대 10명 참여 가능)</h5></h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'GOLD'}">등급 : BRONZE<h5>(하루에 스토리 3개 작성 가능, 스토리에 이미지 10개 업로드 가능, 이 그룹에 최대 20명 참여 가능)</h5></h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'DIAMOND'}">등급 : BRONZE<h5>(하루에 스토리 10개 작성 가능, 스토리에 이미지 20개 업로드 가능, 이 그룹에 최대 50명 참여 가능)</h5></h3>
    <h3>입장코드 : [[${groupDetail.groupDto.enterCode}]]</h3>
    <h3>게시글 수 : [[${groupDetail.groupDto.totalStoryCount}]] 개</h3>
    <h3>그룹원 수 : [[${groupDetail.userGroupDtos.size()}]] 명</h3>
    <h3>그룹 생성일 : [[${groupDetail.groupDto.createdAt}]]</h3><br/>

    <table class="table group-table table-hover">
      <thead style="background-color: #333333">
      <tr>
        <th style="width: 40%">닉네임</th>
        <th style="width: 20%">등급</th>
        <th style="width: 40%">그룹에 작성한 게시글 수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${groupDetail.userGroupDtos}">
        <td style="width: 40%" th:text="${dto.nickname}"></td>
        <td style="width: 20%" th:text="${dto.userRole}"></td>
        <td style="width: 40%" th:text="${dto.groupStoryCount}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>