<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div class="row" style="height: 100%">
  <div th:replace="fragments/header.html :: side-bar" />
  <div class="col-9" style="margin-left: 30px">
    <br/><br/>
    <div class="d-flex justify-content-between">
      <h2>그룹 정보</h2>
      <div>
        <button class="btn story-btn" style="background-color: orangered" onclick="delete_group_user()">그룹 탈퇴</button>
        <button class="btn story-btn"
                th:onclick="|location.href='@{/groups/{groupId}/edit (groupId=${groupDetail.groupDto.id})}'|">그룹 수정</button>
        <button class="btn story-btn" style="background-color: orangered" onclick="delete_group()">그룹 삭제</button>
      </div>
    </div>
    <br/>
    <h3>그룹명 : [[${groupDetail.groupDto.name}]]</h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'BRONZE'}">등급 : BRONZE<h5>(하루에 스토리 1개 작성 가능, 스토리에 이미지 5개 업로드 가능, 이 그룹에 최대 5명 참여 가능)</h5></h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'SILVER'}">등급 : BRONZE<h5>(하루에 스토리 3개 작성 가능, 스토리에 이미지 5개 업로드 가능, 이 그룹에 최대 10명 참여 가능)</h5></h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'GOLD'}">등급 : BRONZE<h5>(하루에 스토리 3개 작성 가능, 스토리에 이미지 10개 업로드 가능, 이 그룹에 최대 20명 참여 가능)</h5></h3>
    <h3 th:if="${groupDetail.groupDto.groupRole.name == 'DIAMOND'}">등급 : BRONZE<h5>(하루에 스토리 10개 작성 가능, 스토리에 이미지 20개 업로드 가능, 이 그룹에 최대 50명 참여 가능)</h5></h3>
    <h3>입장코드 : [[${groupDetail.groupDto.enterCode}]]</h3>
    <h3>게시글 수 : [[${groupDetail.groupDto.totalStoryCount}]] 개</h3>
    <h3>그룹원 수 : [[${groupDetail.userGroupDtos.size()}]] 명</h3>
    <h3>그룹 생성일 : [[${groupDetail.groupDto.createdAt}]]</h3><br/>

    <table class="table group-table table-hover">
      <thead style="background-color: #333333">
      <tr>
        <th style="width: 40%">닉네임</th>
        <th style="width: 20%">유저 등급</th>
        <th style="width: 40%">그룹에 작성한 게시글 수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${groupDetail.userGroupDtos}">
        <td style="width: 40%" th:text="${dto.nickname}"></td>
        <td style="width: 20%" th:text="${dto.userRole}"></td>
        <td style="width: 40%" th:text="${dto.groupStoryCount}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script th:inline="javascript">
  function delete_group() {
    if (confirm("그룹을 삭제하면 복원할 수 없습니다.\n정말 삭제 하시겠습니까?")) {
      $.ajax({
        url: '/api/groups/' + [[${groupDetail.groupDto.id}]] ,
        type: "DELETE",
        success: function (res) {
          alert(res.result);
          location.href = "/groups";
        }, error: function (res) {
          alert(res.responseJSON.result.message)
          location.href='/groups'
        }
      });
    }
  }

  function delete_group_user() {
    // 1명일 때 탈퇴하면 그룹 삭제, 2명 이상일 때 탈퇴하면 탈퇴
    if ([[${groupDetail.userGroupDtos.size()}]] == 1) {
      if (confirm("그룹원이 1명이여서 탈퇴하면 그룹이 삭제됩니다.\n정말 탈퇴 하시겠습니까?")) {
        delete_group();
      }
    } else {
      if (confirm("그룹에서 탈퇴하면 작성한 스토리가 모두 삭제되고 복원할 수 없습니다.\n정말 탈퇴 하시겠습니까?")) {
        $.ajax({
          url: '/api/groups/leave/' + [[${groupDetail.groupDto.id}]] ,
          type: "DELETE",
          success: function (res) {
            alert(res.result);
            location.href = "/groups";
          }, error: function (res) {
            alert(res.responseJSON.result.message)
            location.href='/groups'
          }
        });
      }
    }
  }
</script>
</body>
</html>