<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div class="row" style="height: 100%">
  <div th:replace="fragments/header.html :: side-bar" />
  <div class="col-9">
    <br/> <div class="d-flex  justify-content-between">
      <h2>My Group List</h2>
      <div>
        <button class="btn story-btn" type="button" onclick="location.href='/groups/add'">그룹 생성</button>
        <button class="btn story-btn" type="button" onclick="location.href='/groups/join'">그룹 참여</button>
      </div>
    </div> <br/>
    <table class="table group-table table-hover">
      <thead style="background-color: #333333">
        <tr>
          <th style="width: 30%">그룹명</th>
          <th style="width: 10%">그룹 등급</th>
          <th style="width: 20%">입장 코드</th>
          <th style="width: 10%">그룹원 수</th>
          <th style="width: 10%">게시글 수</th>
          <th style="width: 20%">그룹 생성일</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="group : ${groupList}" th:onclick="|location.href='@{/groups/{groupId} (groupId=${group.id})}'|">
          <td style="width: 30%" th:text="${group.name}"></td>
          <td style="width: 10%" th:text="${group.groupRole}"></td>
          <td style="width: 20%" th:text="${group.enterCode}"></td>
          <td style="width: 10%" th:text="${group.memberCount}"></td>
          <td style="width: 10%" th:text="${group.totalStoryCount}"></td>
          <td style="width: 20%" th:text="${group.createdAt}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>