html, body {
    width: 100%;
    height: 100%;
}

#side-bar {
    border-right: solid 1px black;
    background-color: #333333;
}

.side-bar-icon-btn {
    height: 50px;
    width: fit-content;
    font-size: x-large;
    margin-bottom: 10px;
    color: whitesmoke;
    border: none;
}

.side-bar-icon-btn:hover {
    color: whitesmoke;
    border: none;
    animation: jelly 0.5s;
}

.side-bar-icon-btn:active:focus, .side-bar-icon-btn:focus {
    color: whitesmoke;
    border: none;
    filter: brightness(70%);
}

.side-bar-btn {
    height: 40px;
    width: 60%;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
    background-color: whitesmoke;
    border: none;
}

.side-bar-btn:hover {
    color: #333333;
    background-color: whitesmoke;
    border: none;
    animation: jelly 0.5s;
}

.side-bar-btn:active:focus, .side-bar-btn:focus {
    color: #333333;
    background-color: whitesmoke;
    border: none;
    filter: brightness(70%);
}

.user-btn {
    height: 40px;
    width: 40%;
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px;
    background-color: whitesmoke;
    color: #333333;
    border: none;
}

.user-btn:hover {
    color: #333333;
    background-color: whitesmoke;
    border: none;
    animation: jelly 0.5s;
}

.user-btn:active:focus, .user-btn:focus {
    color: #333333;
    background-color: whitesmoke;
    border: none;
    filter: brightness(70%);
}

.user-btn:disabled {
    color: #333333;
    background-color: whitesmoke;
    border: none;
}

.user-form {;
    width: max-content;
    height: max-content;
    background-color: #333333;
    border: solid 1px black;
    border-radius: 30px;
    padding: 50px 50px 30px 50px;
    color: whitesmoke;

}

.user-form>div>label, .user-form>div>div>label {
    font-weight: bold;
}

.user-form>div>input {
    width: 300px;
}

.user-div-pass {
    color: limegreen;
}

.user-div-fail {
    color: orangered;
}

.oauth-img {
    width: 40px;
    height: 40px;
}

.oauth-btn{
    background-color: unset;
    border: none;
}

.oauth-btn:hover {
    border: none;
    animation: jelly 0.5s;
}

.oauth-btn:active:focus, .oauth-btn:focus {
    animation: jelly 0.5s;
}


@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}