<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div class="row" style="height: 100%">
  <div th:replace="fragments/header.html :: side-bar" />
  <div class="col-9">
    <br/><br/>
    <h2>그룹 : [[${story.groupName}]]</h2>
    <h3>제목 : [[${story.title}]]</h3>
    <h3>작성자 : [[${story.userNickname}]]</h3>
    <h3>날짜 : [[${story.date}]]</h3>
    <div class="d-flex">
      <h3>내용 :&nbsp;</h3><textarea rows="3" style="width: 500px">[[${story.body}]]</textarea>
    </div>
    <br/>
    <img th:each="imageUrl : ${story.uploadImagesUrl}" th:src="${imageUrl}"
         width="300px" height="300px" style="border-color: black; border-style: solid; border-width: thin;"/>
    <br/>
    <br/><button type="button" class="btn story-btn">뒤로가기</button>
  </div>
</div>
</body>
</html>