<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div class="row" style="height: 100%">
  <div th:replace="fragments/header.html :: side-bar" />
  <div class="col-9" style="margin-left: 30px">
    <br/><br/>
    <h2>그룹 : [[${story.groupName}]]</h2>
    <h3>제목 : [[${story.title}]]</h3>
    <h3>작성자 : [[${story.userNickname}]]</h3>
    <h3>공개범위 : <span th:if="${story.scope.name() == 'PUBLIC'}">전체 공개</span>
                <span th:unless="${story.scope.name() == 'PUBLIC'}">그룹 공개</span></h3>
    <h3>날짜 : [[${story.date}]]</h3>
    <div class="d-flex">
      <h3>내용 :&nbsp;</h3><textarea rows="3" style="width: 500px">[[${story.body}]]</textarea>
    </div>
    <br/>
    <img th:each="imageUrl : ${story.uploadImagesUrl}" th:src="${imageUrl}"
         width="300px" height="300px" style="border-color: black; border-style: solid; border-width: thin;"/>
    <br/><br/>
    <button type="button" class="btn story-btn" style="background-color: darkgray" onclick="go_back()">뒤로가기</button>
    <button type="button" class="btn story-btn"
            th:onclick="|location.href='@{/stories/{storyId}/edit (storyId=${story.id})}'|">수정</button>
    <button type="button" class="btn story-btn" style="background-color: orangered" onclick="delete_story()">삭제</button>
  </div>
</div>
</body>
<script th:inline="javascript">
  function go_back() {
    let year = [[${story.date}]].toString().split('-')[0]
    let month = [[${story.date}]].toString().split('-')[1]
    location.href='/calendars?year=' + year + '&month=' + month + '&groupName=' + [[${story.groupName}]]
  }

  function delete_story() {
    if (confirm("스토리를 삭제하면 복원할 수 없습니다.\n정말 삭제 하시겠습니까?")) {
      $.ajax({
        url: '/api/stories/' + [[${story.id}]],
        type: "DELETE",
        success: function (res) {
          alert(res.result)
          let year = [[${story.date}]].toString().split('-')[0]
          let month = [[${story.date}]].toString().split('-')[1]
          location.href = '/calendars?year=' + year + '&month=' + month + '&groupName=' + [[${story.groupName}]]
        }, error: function (res) {
          alert(res.responseJSON.result.message)
        }
      });
    }
  }
</script>
</html>